@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/css")
<style type="text/css">
    body {
        background-color: antiquewhite;
    }
</style>
<div class="jumbotron" style="background-color:#add8e6; text-align:center; margin-top:25px;">
    <h1 style="margin:25px;">Gestion D'Université </h1>
    <p style=" padding:25px;"> do ce site web tu peut sizer and remplir des donner de l'Université</p>

</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/modernizr")